.content{
	text-align: center;
}
.navbar{
	 font-family: 'Source Sans Pro', sans-serif;;
	text-transform: uppercase;
}
.nav {
	width:100%;
	text-align: center;
}

.nav li{
	width: 12%;

}
#sign{
	width: 25%;
	margin-left: 37%;
	
}
footer{
	margin-bottom: 0;
}