body{
	background-color: #f6f6f6;
	font-family: 'Lato', sans-serif;

}
.content{
	text-align: center;
	margin-top: 5px;
	padding-top: 12px;
}
.tilep{
	text-align: left;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: x-large;
	line-height: 130px;
	margin-top:5px;

}
.navbar{
	margin: 10px 100px;
	text-transform: uppercase;
	background-color: white;
}
.navbar-wrapper{
		background-color:white;
		padding:10px;
		font-size: small;
		letter-spacing: 2px;
}
.nav {
	width:100%;
	text-align: center;
}

.nav li{
	margin-right: 10px;
		
}

.nav li a {
	color:black;
}
.nav li a:hover{
	background-color: #f6f6f6;
}
#active{
	color:red;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sign{
	width: 500px;
	margin-top: 20px;
}
a.boxi{
	display: block;
	padding-top: 50px;
	text-decoration: none;
	color:black;
}
h2{
		
}
h4{
	text-decoration: bold;

}
.row{
margin-top: 20px;
}
a.articletitle{
	text-decoration: none;
	font-size:20px;
	color: black;
	margin-bottom:5px;
	font-family: 'Noto+Serif', sans-serif; /* title of the articles */
}
.article{
	line-height: 180%;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}
/*for the small letters */
.textarticle{
	margin-top:5px;
        font-family: 'Noto Serif', sans-serif;
        text-align: center;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:black;}
